*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    height: 100vh;
    width: 100vw;
    /* background-color: antiquewhite; */
}
.nav{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
}
input{
    width: 20%;
}
.Anav{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.main{
    display: flex;
   flex-wrap: wrap;
 gap: 2%;
margin: 5% ;
}
.card{
    height: 250px;
    width: 250px;
    /* background-color: aqua; */
    border: 1px solid black;
    border-radius: 10%;
    color: brown;
}










